body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f7fc;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

input[type='file'] {
    margin: 10px 0;
    text-align: center;
}

select {
    padding: 8px;
    margin: 10px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #05bb0b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #09460c;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
