body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    padding: 5px;
    width: 200px
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px;
    background: lightgray;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}